[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# S1118: Utility classes should not have public constructors
dotnet_diagnostic.S1118.severity = none
